{
    "extends": "standard",
    "parserOptions": {
        "no-undef": "error",
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}